body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 60em;
  font-family: Cochin, Palatino, serif;
  font-size: 1.2em;
  text-align: center;
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}

fieldset,
hr {
  border-style: solid;
  border-color: currentColor;
  border-width: 1px;
}

.futura {
  font-family: Futura, Trebuchet MS, sans-serif;
  text-transform: uppercase;
}

.subtitle {
  text-transform: capitalize;
  font-size: 3em;
}

.medium {
  font-size: 2em;
}

.script {
  font-family: 'Parisienne', cursive;
}

.border {
  /* filter: grayscale(1); */
  max-height: 50vh;
  border-width: 1em;
  border-image: url('./border.svg');
  border-image-slice: 40%;
}

input,
textarea {
  color: inherit;
  background: inherit;
  font: inherit;
  border: 1px solid currentColor;
  padding: 1em;
  line-height: 2;
}

.input-group {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.5em 0;
}

.inline-radio {
  padding: 0;
}

.inline-radio .inner {
  display: flex;
  justify-content: space-between;
}

.inline-radio .inner label {
  padding: 0 1em;
  margin: 1em auto;
}

.inline-radio input {
  display: none;
}

.inline-radio input:checked ~ label {
  color: black;
  background-color: white;
}

.inline-radio hr {
  margin-block-start: 0;
  margin-block-end: 0;
}
