body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 60em;
  font-family: Cochin, Palatino, serif;
  font-size: 1.2em;
  line-height: 2;
  text-align: center;
  background: black;
  color: white;
}

* {
  box-sizing: border-box;
}

fieldset,
hr,
textarea {
  border-style: solid;
  border-color: currentColor;
  border-width: 1px;
}

textarea {
  resize: vertical;
}

hr.flourish {
  width: 80%;
  border: none;
  border-top: 1px solid currentColor;
  height: 0.5em;
}

hr.flourish:after {
  content: '/ /';
  display: inline-block;
  position: relative;
  top: -1em;
}

.futura {
  font-family: Futura, Trebuchet MS, sans-serif;
  text-transform: uppercase;
}

.subtitle {
  text-transform: capitalize;
  font-size: 3em;
}

.medium {
  font-size: 2em;
}

.script {
  font-family: 'Parisienne', cursive;
}

.border {
  /* filter: grayscale(1); */
  max-height: 50vh;
  border-width: 1em;
  border-image: url('./border.svg');
  border-image-slice: 40%;
}

input,
textarea {
  color: inherit;
  background: inherit;
  font: inherit;
  border: 1px solid currentColor;
  padding: 1em;
  line-height: 2;
}

input[type='submit'] {
  text-transform: inherit;
}

.input-group {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.25em 0;
}

.inline-radio {
  padding: 0;
}

.inline-radio .inner {
  display: flex;
  justify-content: space-between;
}

.inline-radio .inner div {
  margin: 0 auto;
  width: 100%;
}

.inline-radio .inner label {
  display: block;
  padding: 1em;
  width: 100%;
}

.visibly-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.inline-radio input:checked ~ label {
  color: black;
  background-color: white;
}

.inline-radio hr {
  margin: 0;
}

.languages {
  /* TODO: decide on position */
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* margin: 1em; */
}

button.language {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  text-shadow: 0 0 0.25em currentColor;
}

button.language.active {
  font-size: 1.5em;
}
